/* .city{
    width: 250px;
    height: 30px;
}*/

body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.main-nav {
  margin: 5px;
  position: sticky;
  top: 0;
}

h2 {
  font-size: 40px;
  color: whitesmoke;
}

.nav {
  height: 70px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 82, 212, 1) 0%,
    rgba(67, 100, 247, 1) 35%,
    rgba(111, 177, 252, 1) 100%
  );
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 7px 7px skyblue;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
}

.logo {
  height: 70px;
  width: 80px;
}

.textInput {
  margin: 7px;
  padding: 0 10px 0 10px;
}

.input_city {
  height: 30px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  font-weight: 600;
  font-size: large;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.838);
}

.check_city {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.838);
}

.check_city:hover {
  background-color: rgb(106, 155, 235);
}

@media (max-width: 950px) {
  .heading {
    margin: 5px;
  }
  .nav {
    display: flex;
    justify-content: center;
    height: fit-content;
  }
  .textInput {
    display: flex;
    align-items: center;
    align-content: space-between;
  }
  h2 {
    font-size: 25px;
  }
}

@media (max-width: 630px) {
  .heading {
    margin: 5px;
  }
  .nav {
    display: flex;
    justify-content: center;
    height: fit-content;
  }
  .textInput {
    display: flex;
    align-items: center;
    align-content: space-between;
  }
  h2 {
    font-size: 20px;
  }
}

@media (max-width: 568px) {
  .nav {
    flex-wrap: wrap;
    height: fit-content;
  }
  .input_city {
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.838);
  }
  .check_city {
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.838);
  }
}

.storm {
  margin: 10px 5px 5px 5px;
  position: relative;
}

.image {
  height: 623px;
  width: 100%;
  background-size: cover;
  border-radius: 20px;
}

.overlay-text {
  background-color: rgba(255, 255, 255, 0.304);
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
